---
layout: page
permalink: /dich-vu-thiet-ke/
title: Dịch Vụ Thiết Kế
keywords: [
web,
Website,
thiết kế web,
thiết kế website,
làm web,
làm trang web,
thiết kế web chuẩn seo,
công ty thiết kế website,
thiết kế website chuyên nghiệp,
tạo web,
tạo website bán hàng chuyên ngiệp,
website giá rẻ,
giá thiết kế website,
thiet ke do hoa,
thiet ke,
thiết kế đồ họa,
đồ họa,
design,
logo,
banner,
thiet ke logo,
thiet ke banner,]
---

<div
  id="slider"
  class="inspiro-slider slider-fullscreen dots-creative"
  data-fade="true"
>
  <div
    title="{{ page.title | escape }}"
    class="slide kenburns"
    data-bg-video="{{ site.baseurl }}/assets/images/slider/dich-vu-thiet-ke.webm"
  >
    <div class="bg-overlay" style="opacity: 1"></div>
    <div class="container">
      <div class="slide-captions text-center text-light">
        <h1 class="text-uppercase text-medium">{{ page.title }}</h1>
        <div class="breadcrumb">
          <ul>
            <li><a href='{{ "/" | relative_url }}'>Trang chủ</a></li>
            <li class="active">
              <a href="{{ site.baseurl }}{{ page.permalink }}"
                >{{ page.title }}</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Tiêu đề -->
<section class="box-fancy section-fullwidth no-padding">
  <div class="row d-flex align-items-center" data-animate="fadeInUp">
    <div class="col-lg-12 text-center">
      <div
        class="heading-text heading-section text-center"
        data-animate="fadeInUp"
      >
        <h2>Dịch vụ thiết kế đồ họa chuyên nghiệp</h2>
        <span class="lead"
          >NamGD.com đơn vị chuyên nhận các dịch vụ thiết kế đồ họa tất cả các
          ấn phẩm quảng cáo như thiết kế logo, banner, profile, bộ nhận diện
          thương hiệu, brochure, catalogue, poster, lịch tết, Infographic, báo
          cáo thường niên, quảng cáo báo và tất cả các ấn phẩm quảng cáo khác
          theo yêu cầu khách hàng.</span
        >
      </div>
    </div>
  </div>
</section>
<!-- End Tiêu đề -->

<section id="image-block" class="image-block no-padding">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-lg-6 col-md-6 col-sm-12 banner-service"
        style="background-image: url('{{ site.baseurl }}/assets/images/service/design/banner-1.gif')"
      ></div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="heading-text heading-section">
          <h4>Bạn đang cần thiết kế đồ họa?</h4>
          <ul class="list-icon list-icon-caret">
            <li>
              Ngày nay, thiết kế đồ họa ngày càng có sức ảnh hưởng lớn đối với
              tất cả lĩnh vực. Nó là công việc sáng tạo, tạo ra những hình ảnh
              nghệ thuật mang một ý nghĩa nào đó nhằm phục vụ mục đích của con
              người như trang trí, làm đẹp, in ấn, quảng cáo...
            </li>
            <li>
              Bạn có nhu cầu thiết kế đồ họa cho doanh nghiệp hoặc tổ chức? Hãy
              đến với NamGD.com và chúng tôi sẽ giúp bạn làm ra những hình ảnh
              đẹp và phù hợp với nhu cầu nhất.
            </li>
          </ul>
        </div>
        <a
          href="{{ site.chatmess }}"
          target="_blank"
          class="btn btn-outline btn-dark"
          ><span>Liên hệ ngay</span></a
        >
      </div>
    </div>
  </div>
</section>

<section id="image-block2" class="image-block no-padding">
  <div class="container-fluid">
    <div class="row d-block">
      <div
        class="col-lg-6 col-md-6 col-sm-12 float-md-right banner-service"
        style="background-image: url('{{ site.baseurl }}/assets/images/service/design/banner-2.gif')"
      ></div>
      <div class="col-lg-6 col-md-6 col-sm-12 float-md-left">
        <div class="heading-text heading-section">
          <h4>Quy trình thiết kế đồ họa chuyên nghiệp</h4>
          <ul class="list-icon list-icon-check text-success">
            <li>Thu thập thông tin khách hàng muốn và không muốn.</li>
            <li>
              Nghiên cứu tư liệu khách hàng xác định màu sắc, phong chữ, chủ đề
              phù hợp.
            </li>
            <li>
              Phân tích tâm lý người tiêu dùng và thị trường để xác định hướng
              thiết kế.
            </li>
            <li>
              Phác thảo ý tưởng thiết kế sáng tạo, đảm bảo tính thẩm mỹ, không
              quá độc lạ gây khó hiểu người tiêu dùng.
            </li>
            <li>
              Thuyết trình ý tưởng thiết kế cho khách hàng (màu sắc, phong chữ,
              bố cục,…) tối thiểu 2-3 concept để khách lựa chọn.
            </li>
            <li>
              Nhận phản hồi, hiệu chỉnh theo yêu cầu, chốt sản phẩm cuối cùng.
            </li>
            <li>
              Bàn giao sản phẩm hoàn thiện sau cùng gửi cho khách hàng đúng hạn
              và đúng yêu cầu đuôi file thiết kế.
            </li>
          </ul>
        </div>
        <a
          href="{{ site.chatmess }}"
          target="_blank"
          class="btn btn-outline btn-dark"
          ><span>Liên hệ ngay</span></a
        >
      </div>
    </div>
  </div>
</section>

<section id="image-block" class="image-block no-padding">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-lg-6 col-md-6 col-sm-12 banner-service"
        style="background-image: url('{{ site.baseurl }}/assets/images/service/design/banner-3.gif')"
      ></div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="heading-text heading-section">
          <h4>Tại sao bạn nên chọn NamGD.com</h4>
          <ul class="list-icon list-icon-check text-success">
            <li>
              Đội ngũ thiết kế đồ họa chuyên nghiệp, sáng tạo và nhiều năm kinh
              nghiệm.
            </li>
            <li>
              Nhận thiết kế đồ họa tất cả các ấn phẩm quảng cáo với mức chi phí
              hợp lý tốt nhất thị trường.
            </li>
            <li>
              Cam kết mang đến cho khách hàng ấn phẩm quảng cáo ấn tượng, có giá
              trị cao về mặt thẩm mỹ thể hiện đẳng cấp chuyên nghiệp, tầm nhìn
              phát triển mỗi thương hiệu.
            </li>
            <li>
              Cam kết thời gian thiết kế, bàn giao đúng thời hạn khách hàng yêu
              cầu.
            </li>
          </ul>
        </div>
        <a
          href="{{ site.chatmess }}"
          target="_blank"
          class="btn btn-outline btn-dark"
          ><span>Liên hệ ngay</span></a
        >
      </div>
    </div>
  </div>
</section>

<section
  class="p-t-100 p-b-100 m-t-80 m-b-80"
  data-bg-parallax="{{ site.baseurl }}/assets/images/parallax.webp"
>
  <div class="container">
    <div class="heading-text heading-section text-center text-light m-b-40">
      <h2>Bảng giá thiết kế đồ họa</h2>
    </div>
    <p class="lead text-center text-light">
      <strong
        >Những hạng mục cơ bản trong thiết kế đồ họa của NamGD.com như brochure,
        poster, tờ rơi, tờ gấp, banner, quảng cáo, băng rôn, profile, danh
        thiếp, bao bì, tem, nhãn mác, vỏ hộp, túi giấy, phong bì thư, card
        visit, ảnh bìa, hóa đơn, menu, đồng phục, áo thun, đồ lưu niệm,
        typography, catalogue, layout website, bìa sách, tạp chí... và những gì
        bạn yêu cầu.</strong
      >
    </p>
    <h3 class="text-center text-light">
      <strong
        >Hãy liên hệ trực tiếp với chúng tôi để được tư vấn và báo giá chi
        tiết!</strong
      >
    </h3>
    <div class="text-center">
      <a href="{{ site.chatmess }}" target="_blank" class="btn">Liên hệ ngay</a>
    </div>
  </div>
</section>

<!-- portfolio -->
<section class="p-t-0">
  <div class="container">
    <div
      class="heading-text heading-section text-center"
      data-animate="fadeInUp"
    >
      <h2>SẢN PHẨM ĐÃ THỰC HIỆN</h2>
      <span class="lead">
        Dưới đây là một số sản phẩm đã thực hiện của chúng tôi, bạn có thể vào
        chi tiết từng dịch vụ để xem thêm những sản phẩm khác.
      </span>
    </div>
  </div>
  <div class="portfolio" data-animate="fadeInUp">
    <div id="portfolio" class="grid-layout portfolio-4-columns">
      {% for item in site.data.portfolio.portfolio %} {% for por in
      item.portfolio-list %}
      <div class="portfolio-item img-zoom ct-photography ct-marketing ct-media">
        <div class="portfolio-item-wrap">
          <div class="portfolio-image">
            <span
              ><img
                src="{{ site.baseurl }}/assets/images/portfolio/thumb/bg-thumb.svg"
                width="375px"
                height="250px"
                data-src="{{ site.baseurl }}/assets/images/portfolio/thumb/{{ por.image | escape }}"
                alt="{{ por.title | escape }}"
                class="lazyload"
                title="{{ por.title | escape }}"
            /></span>
          </div>
          <div class="portfolio-description">
            <a
              title="{{ por.title | escape }}"
              data-lightbox="image"
              href="{{ site.baseurl }}/assets/images/portfolio/{{ por.image | escape }}"
            >
              <i class="icon-maximize"></i>
            </a>
          </div>
        </div>
      </div>
      {% endfor %} {% endfor %}
    </div>
  </div>
</section>
<!-- End portfolio -->

<!-- Ý kiến khách hàng -->
<section class="background-grey">
  <div class="container">
    <div
      class="heading-text heading-section text-center"
      data-animate="fadeInUp"
    >
      <h2>Ý KIẾN KHÁCH HÀNG</h2>
    </div>
  </div>
  <div class="container">
    <div
      class="carousel arrows-visibile testimonial testimonial-single"
      data-items="1"
      data-autoplay="true"
      data-animate-in="fadeIn"
      data-animate-out="fadeOut"
      data-loop="true"
    >
      <div class="testimonial-item">
        <p>
          “<strong>Thứ nhất:</strong> Đúng giá và chiết khấu tốt. Viết bài
          nhanh, đúng yêu cầu.
          <br />
          <strong>Thứ hai:</strong> Nhân viên rất nhiệt tình, vui vẻ hỗ trợ
          nhanh chóng tất cả các vấn đề.
          <br />
          Chúng tôi sẽ tiếp tục sử dụng các dịch vụ của NamGD.com.”
        </p>
        <span>Hùng Đặng</span>
        <span>CEO, Hùng Đặng Store</span>
      </div>

      <div class="testimonial-item">
        <p>
          “Chúng tôi cố gắng tìm kiếm đơn vị dịch vụ thiết kế uy tín. Rất may,
          chúng tôi đã tìm thấy NamGD.com – các bạn nhân viên đã hỗ trợ rất
          nhiệt tình trong suốt quá trình làm việc, mọi thông tin đều rõ ràng,
          rành mạch, chi tiết, nhất là rất minh bạch về vấn đề tài chính.”
        </p>
        <span>Công Ty VI ĐIỀN</span>
        <span>Bao bì giấy, Chai lọ nhựa và Sản xuất Nhựa công nghiệp</span>
      </div>

      <div class="testimonial-item">
        <p>
          NamGD.com đã vượt quá sự mong đợi của chúng tôi trong việc cung cấp
          các dịch vụ: thiết kế logo, thiết kế website. Hoàng Long mong muốn
          tiếp tục mối quan hệ công việc với NamGD.com.
        </p>
        <span>Lê Đức Hoàng</span>
        <span>CEO, Điện thoại Hoàng Long</span>
      </div>
    </div>
  </div>
</section>
<!-- End Ý kiến khách hàng -->

<!-- clients -->
{%- include clients.html -%}
<!-- End clients -->
