<section class="p-t-60">
  <div class="container" data-animate="fadeInUp">
    <div class="heading-text heading-section text-center">
      <h2>ĐỐI TÁC – KHÁCH HÀNG CỦA NAMGD.COM</h2>
      <span class="lead"
        >Hơn 100 doanh nghiệp đã tin tưởng ủng hộ chúng tôi, tuy nhiên, chúng
        tôi chỉ xin phép giới thiệu một số khách hàng tiêu biểu dưới đây.
      </span>
    </div>
    <div
      class="carousel client-logos"
      data-items="6"
      data-items-sm="3"
      data-items-xs="2"
      data-items-xxs="1"
      data-margin="20"
      data-arrows="false"
      data-autoplay="true"
      data-autoplay="3000"
      data-loop="true"
    >
      <div>
        <span
          ><img
            alt=""
            data-src="{{ site.baseurl }}/assets/images/clients/1.png"
            class="lazyload"
          />
        </span>
      </div>
      <div>
        <span
          ><img
            alt=""
            data-src="{{ site.baseurl }}/assets/images/clients/2.png"
            class="lazyload"
          />
        </span>
      </div>
      <div>
        <span
          ><img
            alt=""
            data-src="{{ site.baseurl }}/assets/images/clients/3.png"
            class="lazyload"
          />
        </span>
      </div>
      <div>
        <span
          ><img
            alt=""
            data-src="{{ site.baseurl }}/assets/images/clients/4.png"
            class="lazyload"
          />
        </span>
      </div>
      <div>
        <span
          ><img
            alt=""
            data-src="{{ site.baseurl }}/assets/images/clients/5.png"
            class="lazyload"
          />
        </span>
      </div>
      <div>
        <span
          ><img
            alt=""
            data-src="{{ site.baseurl }}/assets/images/clients/6.png"
            class="lazyload"
          />
        </span>
      </div>
      <div>
        <span
          ><img
            alt=""
            data-src="{{ site.baseurl }}/assets/images/clients/7.png"
            class="lazyload"
          />
        </span>
      </div>
      <div>
        <span
          ><img
            alt=""
            data-src="{{ site.baseurl }}/assets/images/clients/8.png"
            class="lazyload"
          />
        </span>
      </div>
      <div>
        <span
          ><img
            alt=""
            data-src="{{ site.baseurl }}/assets/images/clients/9.png"
            class="lazyload"
          />
        </span>
      </div>
    </div>
  </div>
</section>
