<section class="p-t-60">
  <div class="container" data-animate="fadeInUp">
    <div class="heading-text heading-section text-center">
      <h2>ĐỐI TÁC – KHÁCH HÀNG</h2>
      <span class="lead"
        >Hơn 100 doanh nghiệp đã tin tưởng ủng hộ chúng tôi, tuy nhiên, chúng
        tôi chỉ xin phép giới thiệu một số khách hàng tiêu biểu dưới đây.
      </span>
    </div>
    <div
      class="carousel client-logos"
      data-items="6"
      data-items-sm="3"
      data-items-xs="2"
      data-items-xxs="1"
      data-margin="20"
      data-arrows="false"
      data-autoplay="true"
      data-autoplay="3000"
      data-loop="true"
    >
      <div>
        <span
          ><img
            alt=""
            data-src="{{ site.baseurl }}/assets/images/clients/logo-1-dark.svg"
            class="lazyload"
          />
        </span>
      </div>
      <div>
        <span
          ><img
            alt=""
            data-src="{{ site.baseurl }}/assets/images/clients/logo-2-dark.svg"
            class="lazyload"
          />
        </span>
      </div>
      <div>
        <span
          ><img
            alt=""
            data-src="{{ site.baseurl }}/assets/images/clients/logo-3-dark.svg"
            class="lazyload"
          />
        </span>
      </div>
      <div>
        <span
          ><img
            alt=""
            data-src="{{ site.baseurl }}/assets/images/clients/logo-4-dark.svg"
            class="lazyload"
          />
        </span>
      </div>
      <div>
        <span
          ><img
            alt=""
            data-src="{{ site.baseurl }}/assets/images/clients/logo-5-dark.svg"
            class="lazyload"
          />
        </span>
      </div>
      <div>
        <span
          ><img
            alt=""
            data-src="{{ site.baseurl }}/assets/images/clients/logo-6-dark.svg"
            class="lazyload"
          />
        </span>
      </div>
    </div>
  </div>
</section>
