<footer id="footer">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-lg-2 col-md-4">
          <div
            class="widget widget-contact-us"
            style="
              background-image: url('{{ site.baseurl }}/assets/images/world-map-dark.png');
              background-position: 50% 20px;
              background-repeat: no-repeat;
            "
          >
            <h4>Về chúng tôi</h4>
            <p class="mb-5">
              NamGD.com cung cấp giải pháp linh hoạt đáp ứng mọi yêu cầu của
              từng khách hàng ở nhiều khía cạnh khác nhau.
            </p>
            <ul class="list-icon">
              <li><i class="fa fa-map-marker-alt"></i> {{ site.address }}</li>
              <li><i class="fa fa-phone"></i> {{ site.phone }}</li>
              <li>
                <i class="far fa-envelope"></i>
                <a href="mailto:{{ site.email }}">{{ site.email }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4">
          <div class="widget">
            <h4>Thời gian mở cửa</h4>
            <ul class="list-icon">
              <li>
                <i class="far fa-clock"></i>Thứ 2 - Thứ 6:
                <strong>08:00 - 22:00</strong>
              </li>
              <li>
                <i class="far fa-clock"></i>Thứ 7, Chủ Nhật:
                <strong>08:30 - 21:30</strong>
              </li>
            </ul>
            <h4>Mạng Xã Hội</h4>
            <div
              class="
                social-icons social-icons-colored social-icons-rounded
                float-left
              "
            >
              <ul>
                <li class="social-facebook">
                  <a href="{{ site.fanpagefb }}" target="_blank"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                <li class="social-facebook">
                  <a href="{{ site.chatmess }}" target="_blank"
                    ><i class="fab fa-facebook-messenger"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <form
            class="widget-contact-form form-contact-footer"
            novalidate
            action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSdWXBPKG4IQIhNnHfY7wFyLDId2NQMYIcAdCBd1bguypc042A/formResponse"
            onsubmit="return formContactFooter()" target="hidden_iframe-footer"
            method="post"
          >
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="fa fa-user"></i
                ></span>
              </div>
              <input
                type="text"
                aria-required="true"
                required
                name="entry.469158872"
                class="form-control required name"
                placeholder="Nhập tên của bạn"
              />
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="fa fa-phone"></i
                ></span>
              </div>
              <input
                type="tel"
                aria-required="true"
                required
                name="entry.1106884678"
                class="form-control required tel"
                placeholder="Nhập số điện thoại của bạn"
              />
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="fa fa-envelope"></i
                ></span>
              </div>
              <input
                type="email"
                aria-required="true"
                required
                name="entry.1587628256"
                class="form-control required email"
                placeholder="Nhập email của bạn"
              />
            </div>
            <div class="form-group mb-2">
              <textarea
                type="text"
                required
                name="entry.1191135861"
                rows="5"
                class="form-control required"
                placeholder="Nội dung"
              ></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-ct-black" type="submit" name="submit">
                <i class="fa fa-paper-plane"></i>&nbsp;Gửi ngay
              </button>
            </div>
          </form>

          <div class="hidden-message-footer text-success" style="display: none;">Cảm ơn bạn đã liên hệ với chúng tôi. Chúng tôi sẽ phản hồi lại sớm nhất tới bạn!</div>

          <iframe id="hidden_iframe-footer" name="hidden_iframe-footer" onload="if(submitted){}" style="display: none;"></iframe>

          <script type="text/javascript">
            var submitted = false;

            function formContactFooter() {
              submitted = true;
              $('.blockform').toggle();
              $('.hidden-message-footer').show();
              $('.form-contact-footer button.btn').addClass('btn-success');
              $('.form-contact-footer button.btn').removeClass('btn-ct-black');
            }
            $("iframe#hidden_iframe-footer").on('load', function() {
              simpleCart.empty();
            });
          </script>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright-text text-center">
            &copy; 2018 NamGD.com. All Rights Reserved.<a
              href="https://namgd.com/"
              target="_blank"
              rel="noopener"
            >
              NamGD.com</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<a id="scrollTop"
  ><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i
></a>

<script src='{{ "/assets/js/jquery.js" | relative_url }}'></script>
<script src='{{ "/assets/js/plugins.js" | relative_url }}'></script>

<script src='{{ "/assets/js/functions.js" | relative_url }}'></script>
<script src='{{ "/assets/js/lazysizes.min.js" | relative_url }}'></script>
