<section class="background-grey">
  <div class="container">
    <div
      class="heading-text heading-section text-center"
      data-animate="fadeInUp"
    >
      <h2>Ý KIẾN KHÁCH HÀNG</h2>
    </div>
  </div>
  <div class="container">
    <div
      class="carousel arrows-visibile testimonial testimonial-single"
      data-items="1"
      data-autoplay="true"
      data-animate-in="fadeIn"
      data-animate-out="fadeOut"
      data-loop="true"
    >
      <div class="testimonial-item">
        <p>
          “<strong>Thứ nhất:</strong> Đúng giá và chiết khấu tốt. Viết bài
          nhanh, đúng yêu cầu.
          <br />
          <strong>Thứ hai:</strong> Nhân viên rất nhiệt tình, vui vẻ hỗ trợ
          nhanh chóng tất cả các vấn đề.
          <br />
          Chúng tôi sẽ tiếp tục sử dụng các dịch vụ của NamGD.com.”
        </p>
        <span>Hùng Đặng</span>
        <span>CEO, Hùng Đặng Store</span>
      </div>

      <div class="testimonial-item">
        <p>
          “Chúng tôi cố gắng tìm kiếm đơn vị dịch vụ thiết kế uy tín. Rất may,
          chúng tôi đã tìm thấy NamGD.com – các bạn nhân viên đã hỗ trợ rất
          nhiệt tình trong suốt quá trình làm việc, mọi thông tin đều rõ ràng,
          rành mạch, chi tiết, nhất là rất minh bạch về vấn đề tài chính.”
        </p>
        <span>Công Ty VI ĐIỀN</span>
        <span>Bao bì giấy, Chai lọ nhựa và Sản xuất Nhựa công nghiệp</span>
      </div>

      <div class="testimonial-item">
        <p>
          NamGD.com đã vượt quá sự mong đợi của chúng tôi trong việc cung cấp
          các dịch vụ: thiết kế logo, thiết kế website. Hoàng Long mong muốn
          tiếp tục mối quan hệ công việc với NamGD.com.
        </p>
        <span>Lê Đức Hoàng</span>
        <span>CEO, Điện thoại Hoàng Long</span>
      </div>
    </div>
  </div>
</section>
