---
layout: page
permalink: /blog/
title: Blog
keywords: [
web,
Website,
thiết kế web,
thiết kế website,
làm web,
làm trang web,
thiết kế web chuẩn seo,
công ty thiết kế website,
thiết kế website chuyên nghiệp,
tạo web,
tạo website bán hàng chuyên ngiệp,
website giá rẻ,
giá thiết kế website,]
---

<section
  id="page-title"
  data-bg-parallax="{{ site.baseurl }}/assets/images/slider/dich-vu-website.svg"
>
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="page-title">
      <h1 class="text-uppercase text-medium">{{ page.title }}</h1>
      <div class="breadcrumb">
        <ul>
          <li><a href='{{ "/" | relative_url }}'>Trang chủ</a></li>
          <li class="active">
            <a href="{{ site.baseurl }}{{ page.permalink }}"
              >{{ page.title }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="page-content">
  <div class="container">
    <h2 class="mb-4">Kiến thức kinh doanh</h2>
    <div class="carousel" data-items="3">
      {% for post in site.categories.blog limit:9 %} {% if post.categories
      contains "kien-thuc-kinh-doanh" %}
      <div class="post-item border">
        <div class="post-item-wrap">
          <div class="post-image">
            <a href="{{ post.url }}.html">
              <img
                alt="{{ post.title }}"
                src="{{ site.baseurl }}/assets/images/blog/kien-thuc-kinh-doanh/{{ post.image }}"
            /></a>
          </div>
          <div class="post-item-description">
            <span class="post-meta-date"
              ><i class="fa fa-calendar-o"></i>{{ post.date | date: "%d/%m/%Y"
              }}</span
            >
            <h2>
              <a href="{{ post.url }}.html">{{ post.title }}</a>
            </h2>
            <p>{{ post.description }}</p>
            <a href="{{ post.url }}.html" class="item-link"
              >Đọc tiếp <i class="icon-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
    <div class="text-center m-t-50">
      <a
        href="{{ site.baseurl }}{{ page.permalink }}kien-thuc-kinh-doanh/"
        class="btn btn-rounded btn-reveal btn-dark"
        ><span>Xem thêm</span><i class="icon-chevron-right"></i
      ></a>
    </div>
    <div class="line"></div>
  </div>
</section>
