---
layout: posts
---

<section id="page-content" class="sidebar-right">
  <div class="container">
    <div class="row">
      <div class="content col-lg-9">
        <div id="blog" class="single-post">
          <div class="post-item">
            <div class="post-item-wrap">
              <div class="post-image">
                <img
                  alt="{{ page.title }}"
                  src="{{ site.baseurl }}/{{ page.imgshare }}"
                />
              </div>
              <div class="post-item-description">
                <h1 class="detail-post__title">{{ page.title }}</h1>
                <div class="post-meta">
                  <span class="post-meta-date"
                    ><i class="far fa-calendar-alt"></i>{{ page.date | date:
                    "%d/%m/%Y" }}</span
                  >
                </div>
                <p class="detail-post__desc">{{ page.description }}</p>
                <div class="detail-post__content">{{ content }}</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tin tức mới -->
        <div class="line"></div>
        <h2 class="mb-4">Tin tức mới</h2>
        <div class="carousel" data-items="2">
          {% for post in site.categories.blog limit:6 %}
          <div class="post-item border">
            <div class="post-item-wrap">
              <div class="post-image">
                <a href="{{ post.url }}.html">
                  <img
                    class="lazyload"
                    alt="{{ post.title }}"
                    src="{{ site.baseurl }}/assets/images/bg-thumb.svg"
                    data-src="{{ site.baseurl }}/{{ post.imgshare }}"
                /></a>
              </div>
              <div class="post-item-description">
                <span class="post-meta-date"
                  ><i class="far fa-calendar-alt"></i>{{ post.date | date:
                  "%d/%m/%Y" }}</span
                >
                <h2>
                  <a href="{{ post.url }}.html">{{ post.title }}</a>
                </h2>
                <p>{{ post.description }}</p>
                <a href="{{ post.url }}.html" class="item-link"
                  >Đọc tiếp <i class="icon-chevron-right"></i
                ></a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="line"></div>
        <!-- Hết Tin tức mới -->
      </div>

      <div class="sidebar sticky-sidebar col-lg-3">
        <div class="banner__right">
          <a href="{{ site.url }}/{{ page.bannerlink }}" target="_blank">
            <img
              class="lazyload"
              alt="{{ page.title }}"
              src="{{ site.baseurl }}/assets/images/bg-thumb.svg"
              data-src="{{ site.baseurl }}/assets/images/banner-link/{{ page.bannerimg }}"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
